<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Nạp tiền vào sổ"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk(form.value)"
  [nzOkLoading]="isOkLoading"
  [nzOkDisabled]="!form.valid"
  [nzWidth]="720"
>
  <ng-template nzModalContent>
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired>Số lượng</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Please input amount">
          <nz-input-group nzSuffix="VND">
            <input type="number" nz-input formControlName="amount" />
          </nz-input-group>
        </nz-form-control>
        <nz-form-label [nzSpan]="4" nzRequired>Thời gian</nz-form-label>
        <nz-form-control [nzSpan]="7" nzErrorTip="Please input time">
          <nz-date-picker
            nzShowTime
            [nzShowTime]="{ nzFormat: 'HH:mm' }"
            nzFormat="yyyy-MM-dd HH:mm"
            formControlName="at"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired>Note</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-input-group>
            <textarea nz-input [nzAutosize]="{ minRows: 3 }" formControlName="note" ></textarea>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
</nz-modal>
