<nz-col nzSpan="24">
    <nz-table #fundHistoryTable nzOuterBordered [nzLoading]="!fundHistoryService.pagingHistories" [nzFrontPagination]="false"
        [nzData]="fundHistoryService.pagingHistories?.items" [nzTotal]="fundHistoryService.pagingHistories?.total"
        [nzPageSize]="fundHistoryService.pagingHistories?.size" [nzPageIndex]="fundHistoryService.pagingHistories?.page"
        (nzQueryParams)="onChangePage($event)">
        <thead>
            <tr>
                <th></th>
                <th>Số tiền</th>
                <th>Thời gian</th>
                <th *ngIf="isShowColumn">Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of fundHistoryTable.data">
                <td>
                    <span *ngIf="data.type =='RECHARGE'" nz-typography nzType="success"><b color>Nạp</b></span>
                    <span *ngIf="data.type == 'WITHDRAW'" nz-typography nzType="danger"><b color>Rút</b></span>
                </td>
                <td>{{ formatMoney(data.amount) }}</td>
                <td>{{ formatDateTime(data.at) }}</td>
                <td *ngIf="isShowColumn">{{ data.note }}</td>
            </tr>
        </tbody>
    </nz-table>
</nz-col>