<form nz-form [formGroup]="form" class="add-fund-invest-modal">
    <div nz-row>
        <nz-form-item nz-col nzSpan="6">
            <nz-form-label nzRequired>Tên gói</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập loại đầu tư">
                <nz-input-group>
                    <input nz-input formControlName="name" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col nzSpan="6">
            <nz-form-label nzRequired>Trạng thái</nz-form-label>
            <nz-form-control>
                <nz-select name="select-validate" formControlName="status">
                    <nz-option *ngFor="let item of statusOptions" [nzValue]="item.value" [nzLabel]="item.label">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col nzSpan="6">
            <nz-form-label nzRequired>Tăng trưởng</nz-form-label>
            <nz-form-control>
                <nz-select name="select-validate" formControlName="updateType">
                    <nz-option [nzValue]="InvestUpdateType.AUTO" nzLabel="Tự động"></nz-option>
                    <nz-option [nzValue]="InvestUpdateType.MANUAL" nzLabel="Thủ công"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col nzSpan="6">
            <nz-form-label nzRequired>Theo dõi</nz-form-label>
            <nz-form-control nzErrorTip="Please input time">
                <nz-date-picker nzShowTime [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="yyyy-MM-dd HH:mm"
                    formControlName="followedAt">
                </nz-date-picker>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div *ngIf="form.value.updateType === InvestUpdateType.MANUAL">
        <div nz-row>
            <nz-form-item nz-col nzSpan="6">
                <nz-form-label nzRequired>Khối lượng</nz-form-label>
                <nz-form-control>
                    <nz-input-number formControlName="amount" [nzMin]="0" [nzStep]="1">
                    </nz-input-number>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col nzSpan="6">
                <nz-form-label nzRequired><b>Giá mua</b></nz-form-label>
                <nz-form-control>
                    <nz-input-number formControlName="capitalPrice" [nzMin]="0" [nzStep]="1000">
                    </nz-input-number>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col nzSpan="6">
                <nz-form-label nzRequired>Giá t.trường</nz-form-label>
                <nz-form-control>
                    <nz-input-number formControlName="marketPrice" [nzMin]="0" [nzStep]="1000">
                    </nz-input-number>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col nzSpan="6" *ngIf="form.value.status !== InvestStatus.FOLLOWING">
                <nz-form-label nzRequired>Mua lúc</nz-form-label>
                <nz-form-control nzErrorTip="Please input time">
                    <nz-date-picker nzShowTime [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="yyyy-MM-dd HH:mm"
                        formControlName="investedAt">
                    </nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-row>
            <nz-form-item nz-col nzSpan="6">
                <nz-form-label nzRequired>Chốt lãi (%)</nz-form-label>
                <nz-form-control>
                    <nz-input-number formControlName="takeProfitPercent" [nzMin]="0" [nzStep]="1">
                    </nz-input-number>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col nzSpan="6">
                <nz-form-label nzRequired>Stop loss (%)</nz-form-label>
                <nz-form-control>
                    <nz-input-number formControlName="stopLossPercent" [nzMin]="0" [nzStep]="1">
                    </nz-input-number>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col nzSpan="6">
                <nz-form-label nzRequired>Trailing stop (%)</nz-form-label>
                <nz-form-control>
                    <nz-input-number formControlName="trailingStopLossPercent" [nzMin]="0" [nzStep]="1">
                    </nz-input-number>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row>
        <nz-form-item nz-col nzSpan="6">
            <nz-form-label nzRequired>Phí mua (%)</nz-form-label>
            <nz-form-control>
                <nz-input-number formControlName="buyFeePercent" [nzMin]="0" [nzStep]="0.01">
                </nz-input-number>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col nzSpan="6">
            <nz-form-label nzRequired>Phí bán (%)</nz-form-label>
            <nz-form-control>
                <nz-input-number formControlName="sellFeePercent" [nzMin]="0" [nzStep]="0.01">
                </nz-input-number>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col nzSpan="6" *ngIf="form.value.status === InvestStatus.COMPLETED">
            <nz-form-label nzRequired><b>Giá bán</b></nz-form-label>
            <nz-form-control>
                <nz-input-number formControlName="sellPrice" [nzMin]="0" [nzStep]="1000">
                </nz-input-number>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col nzSpan="6" *ngIf="form.value.status === InvestStatus.COMPLETED">
            <nz-form-label nzRequired><b>Bán lúc</b></nz-form-label>
            <nz-form-control nzErrorTip="Please input time">
                <nz-date-picker nzShowTime [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="yyyy-MM-dd HH:mm"
                    formControlName="completedAt">
                </nz-date-picker>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div nz-row *ngIf="form.value.updateType === InvestUpdateType.AUTO">
        <nz-form-item nz-col nzSpan="6">
            <nz-form-label nzRequired>Lãi suất (%)</nz-form-label>
            <nz-form-control>
                <nz-input-number formControlName="revenuePercent" [nzMin]="0" [nzStep]="1">
                </nz-input-number>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col nzSpan="6">
            <nz-form-label nzRequired>Tăng trưởng</nz-form-label>
            <nz-form-control>
                <nz-select name="select-validate" formControlName="revenueCycle">
                    <nz-option nzValue="MONTHLY" nzLabel="Tháng"></nz-option>
                    <nz-option nzValue="YEARLY" nzLabel="Năm"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col nzSpan="6" *ngIf="form.value.status === InvestStatus.COMPLETED">
            <nz-form-label nzRequired><b>Giá chốt</b></nz-form-label>
            <nz-form-control>
                <nz-input-number formControlName="sellPrice" [nzMin]="0" [nzStep]="1000">
                </nz-input-number>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div nz-row>
        <nz-form-item nz-col nzSpan="24">
            <nz-form-label>Ghi chú</nz-form-label>
            <nz-form-control>
                <nz-input-group>
                    <textarea nz-input [nzAutosize]="{ minRows: 5 }" formControlName="note"></textarea>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
    </div>

    <nz-divider nzText="Tiêu chí" nzDashed></nz-divider>

    <nz-row>
        <nz-col nzSpan="6" *ngFor="let item of criterias" class="mb-3">
            <label nz-checkbox [(ngModel)]="item.checked" (ngModelChange)="onSelectCriteria()"
                [ngModelOptions]="{standalone: true}">
                {{item.name}}
                <i nz-icon nzType="edit" nzTheme="twotone" class="mx-1" title="Edit"
                    (click)="onAddEditCriteria(item)"></i>
                <i nz-icon nzType="delete" nzTheme="twotone" nzTwotoneColor="#ff4d4f" title="Delete" nz-popconfirm
                    nzPopconfirmTitle="Are you sure want to delete?" (nzOnConfirm)="onDeleteCriteria(item.id)"></i>
            </label>
        </nz-col>
    </nz-row>

    <button nz-button nzType="dashed" class="w-25 mt-4 mx-auto d-block" (click)="onAddEditCriteria()">
        <i nz-icon nzType="plus"></i>
        Thêm tiêu chí
    </button>
</form>