<nz-input-group [nzSuffix]="suffixIcon">
    <input type="text" nz-input placeholder="Search.." />
</nz-input-group>

<ng-template #suffixIcon>
    <i nz-icon nzType="search"></i>
</ng-template>

<button nz-button nzType="primary" class="float-right" (click)="onAddPost()" title="Add new page">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
</button>

<nz-skeleton *ngIf="!posts"></nz-skeleton>
<nz-empty *ngIf="posts?.length === 0"></nz-empty>

<nz-tree [nzData]="convertPostToNode()" (nzClick)="onSelectNode($event)" [nzSelectedKeys]="[selectedId]"
    [nzTreeTemplate]="nzTreeTemplate" nzShowIcon [nzExpandedIcon]="multiExpandedIconTpl"></nz-tree>

<ng-template #nzTreeTemplate let-node let-origin="origin">
    <span class="custom-node">
        <span *ngIf="!node.isLeaf">
            <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" nzTheme="twotone" class="mr-2"></i>
            <span class="folder-name">{{ node.title }}</span>
            <button nz-button nzType="text" nzSize="small" class="float-right" nz-dropdown nzTrigger="click"
                [nzDropdownMenu]="menu">
                <i nz-icon nzType="more" nzTheme="outline"></i>
            </button>
        </span>
        <span *ngIf="node.isLeaf">
            <i nz-icon nzType="file" nzTheme="twotone" class="mr-2"></i>
            <span class="file-name">{{ node.title }}</span>
            <button nz-button nzType="text" nzSize="small" class="float-right" nz-dropdown nzTrigger="click"
                [nzDropdownMenu]="menu">
                <i nz-icon nzType="more" nzTheme="outline"></i>
            </button>
        </span>

        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item>
                    <a (click)="onAddPost(node)"><i nz-icon nzType="plus" nzTheme="outline"></i>Add sub-page</a>
                </li>
                <li nz-menu-item>
                    <a (click)="onEdit(node.key)"><i nz-icon nzType="edit" nzTheme="outline"></i>Edit</a>
                </li>
                <li nz-menu-item>
                    <a><i nz-icon nzType="delete" nzTheme="outline"></i>Delete</a>
                </li>
            </ul>
        </nz-dropdown-menu>
    </span>
</ng-template>

<ng-template #multiExpandedIconTpl let-node let-origin="origin">
    <i *ngIf="!origin.isLeaf" nz-icon [nzType]="node.isExpanded ? 'caret-down' : 'caret-right'"
        class="ant-tree-switcher-line-icon" (click)="onOpen(node.key, node.isExpanded)"></i>
    <i *ngIf="origin.isLeaf" nz-icon nzType="file" class="ant-tree-switcher-line-icon"></i>
</ng-template>