<nz-input-group [nzSuffix]="suffixIcon">
    <input type="text" nz-input placeholder="Search.." />
</nz-input-group>

<ng-template #suffixIcon>
    <i nz-icon nzType="search"></i>
</ng-template>

<button nz-button nzType="primary" class="float-right" (click)="onAddPost()" title="Add new page">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
</button>

<nz-empty *ngIf="dataSource?.getData().length === 0"></nz-empty>

<nz-tree-view [nzTreeControl]="treeControl" [nzDataSource]="dataSource" [nzDirectoryTree]="true">
    <nz-tree-node *nzTreeNodeDef="let node" nzTreeNodePadding (click)="onSelectNode(node)">
        <nz-tree-node-toggle nzTreeNodeNoopToggle></nz-tree-node-toggle>
        <nz-tree-node-option [nzSelected]="selectListSelection.isSelected(node)"
            (nzClick)="selectListSelection.toggle(node)">
            <i nz-icon nzType="file" nzTheme="outline"></i>
            {{ node.name }}
            <button nz-button nzType="text" nzSize="small" class="float-right" nz-dropdown nzTrigger="click"
                [nzDropdownMenu]="menu">
                <i nz-icon nzType="more" nzTheme="outline"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item>
                        <a (click)="onAddPost(node.id)">Add sub-page</a>
                    </li>
                    <li nz-menu-item>
                        <a>Edit</a>
                    </li>
                    <li nz-menu-item>
                        <a>Delete</a>
                    </li>
                </ul>
            </nz-dropdown-menu>
        </nz-tree-node-option>
    </nz-tree-node>

    <nz-tree-node *nzTreeNodeDef="let node; when: hasChild" nzTreeNodePadding (click)="onSelectNode(node)">
        <nz-tree-node-toggle>
            <i nz-icon nzType="caret-down" nzTreeNodeToggleRotateIcon></i>
        </nz-tree-node-toggle>
        <nz-tree-node-option [nzSelected]="selectListSelection.isSelected(node)"
            (nzClick)="selectListSelection.toggle(node)">
            <i nz-icon [nzType]="treeControl.isExpanded(node) ? 'folder-open' : 'folder'" nzTheme="outline"></i>
            {{ node.name }}
            <button nz-button nzType="text" nzSize="small" class="float-right" nz-dropdown nzTrigger="click"
                [nzDropdownMenu]="menu">
                <i nz-icon nzType="more" nzTheme="outline"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item>
                        <a (click)="onAddPost(node.id)"><i nz-icon nzType="plus" nzTheme="outline"></i>Add sub-page</a>
                    </li>
                    <li nz-menu-item>
                        <a><i nz-icon nzType="edit" nzTheme="outline"></i>Edit</a>
                    </li>
                    <li nz-menu-item>
                        <a><i nz-icon nzType="delete" nzTheme="outline"></i>Delete</a>
                    </li>
                </ul>
            </nz-dropdown-menu>
        </nz-tree-node-option>
    </nz-tree-node>
</nz-tree-view>