nz-input-group {
	width: 88%;
}

nz-empty {
	margin-top: 25vh;
}

::ng-deep .ant-tree-list-holder-inner {
    width: 100% !important;
    margin-top: 20px;
}

nz-tree-node {
	padding: 5px 0 8px !important;
}
