<nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col [nzSpan]="16">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" class="inner-box">
            <div nz-col [nzSpan]="24">
                <div class="inner-box">Biểu đồ tài sản</div>
            </div>
            <div nz-col [nzSpan]="24">
                <div class="inner-box">Các loại biểu đồ khác</div>
            </div>
        </div>
    </div>
    <div nz-col [nzSpan]="8" class="pr-0">
        <div class="inner-box todo">
            <app-todo></app-todo>
        </div>
    </div>
</nz-row>