<ng-container *ngIf="postService.selectedPost">
    <nz-page-header [nzGhost]="false">
        <nz-page-header-title>{{ postService.selectedPost?.title }}</nz-page-header-title>
        <nz-page-header-extra>
            <button nz-button nzDanger>Delete</button>
            <button nz-button nzType="primary" (click)="onEdit()">Edit</button>
        </nz-page-header-extra>
        <nz-page-header-content>
            <nz-descriptions nzSize="small" [nzColumn]="3">
                <nz-descriptions-item nzTitle="Last Updated At" [nzSpan]="1">
                    {{ formatDateTime(postService.selectedPost?.updatedAt) }}
                </nz-descriptions-item>
            </nz-descriptions>

            <div [innerHtml]="postService.selectedPost?.content" class="mt-4"></div>
        </nz-page-header-content>
    </nz-page-header>
</ng-container>