<nz-row class="mt-4 mb-3">
    <nz-col nzSpan="8">
        <nz-checkbox-group [(ngModel)]="statusOptions" (ngModelChange)="getInvestments()"></nz-checkbox-group>
    </nz-col>
    <div nz-col nzSpan="2">
        <span class="ml-4">Tiêu chí</span>
    </div>
    <div nz-col nzSpan="6">
        <nz-slider [nzMin]="totalCriteriaRange[0]" [nzMax]="totalCriteriaRange[1]" [(ngModel)]="minCriteria"
            (nzOnAfterChange)="getInvestments()"></nz-slider>
    </div>
    <div nz-col nzSpan="6"></div>
    <div nz-col nzSpan="2">
        <button nz-button nzType="primary" class="float-right" (click)="onAddEditInvestment()">Thêm</button>
    </div>
</nz-row>

<nz-col nzSpan="24">
    <nz-col nzSpan="24">
        <nz-table #investmentTable nzOuterBordered [nzFrontPagination]="false" [nzData]="investments?.items"
            [nzTotal]="investments?.total" [nzPageSize]="investments?.size" [nzPageIndex]="investments?.page"
            (nzQueryParams)="onChangePage($event)">
            <thead>
                <tr>
                    <th></th>
                    <th>Mã</th>
                    <th>Thời gian</th>
                    <th>Khối lượng</th>
                    <th nz-typography nzType="danger">Giá mua</th>
                    <th nz-typography nzType="danger">Giá t.trường</th>
                    <th class="text-center">Lãi/lỗ tạm tính</th>
                    <th class="text-center">Cắt lỗ</th>
                    <th class="text-center">Chốt lãi</th>
                    <th class="text-center">Chốt lãi từ đỉnh</th>
                    <th nz-typography nzType="danger">Giá bán</th>
                    <th class="text-center">Lời lỗ thực tế</th>
                    <th>Ghi chú</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of investmentTable.data">
                    <td>
                        <span *ngIf="data.status ==InvestStatus.FOLLOWING" nz-typography><b color>Theo dõi</b></span>
                        <span *ngIf="data.status ==InvestStatus.INVESTING" nz-typography nzType="success"><b
                                color>Mua</b></span>
                        <span *ngIf="data.status == InvestStatus.COMPLETED" nz-typography nzType="danger"><b
                                color>Bán</b></span>
                    </td>
                    <td>{{ data.name }}</td>
                    <td class="text-center">
                        {{ formatDateTime(data.completedAt || data.investedAt || data.followedAt) }}
                    </td>
                    <td>{{ formatMoney(data.amount) }}</td>
                    <td>{{ formatMoney(data.capitalPrice) }}</td>
                    <td>
                        <span *ngIf="data.status !== InvestStatus.COMPLETED">
                            {{ formatMoney(data.marketPrice) }}
                        </span>
                        <span *ngIf="data.status === InvestStatus.COMPLETED">-</span>
                    </td>
                    <td class="text-center">
                        <span nz-typography *ngIf="data.status !== InvestStatus.COMPLETED"
                            [nzType]="data.finalProfitPercent > 0 ? 'success' : data.finalProfitPercent == 0 ? 'warning' : 'danger'">
                            <b>{{ data.finalProfitPercent.toFixed(3) }}% </b><br />
                            {{ formatMoney(data.finalProfit) }}
                        </span>
                        <span *ngIf="data.status === InvestStatus.COMPLETED">-</span>
                    </td>

                    <td class="text-center">
                        -{{ data.stopLossPercent }}% <br />
                        <b>{{ formatMoney(+(data.capitalPrice * (1 - data.stopLossPercent / 100)).toFixed(0)) }}</b>
                    </td>
                    <td class="text-center">
                        +{{ data.takeProfitPercent }}% <br />
                        <b>{{ formatMoney(+(data.capitalPrice * (1 + data.takeProfitPercent / 100)).toFixed(0)) }}</b>
                    </td>
                    <td class="text-center">
                        -{{ data.trailingStopLossPercent }}% <br />
                        <b>
                            {{ formatMoney(+(data.marketPrice * (1 - data.trailingStopLossPercent / 100)).toFixed(0)) }}
                        </b>
                    </td>

                    <td class="text-center">
                        {{ data.sellPrice ? formatMoney(data.sellPrice) : '-' }}
                    </td>

                    <td class="text-center">
                        <span *ngIf="data.status === InvestStatus.COMPLETED" nz-typography
                            [nzType]="data.finalProfitPercent > 0 ? 'success' : data.finalProfitPercent == 0 ? 'warning' : 'danger'">
                            <b>{{ data.finalProfitPercent.toFixed(3) }}% </b><br />
                            {{ formatMoney(data.finalProfit) }}
                        </span>
                        <span *ngIf="data.status !== InvestStatus.COMPLETED">-</span>
                    </td>
                    <td nz-tooltip [nzTooltipTitle]="data.note">
                        {{ data.note }}
                    </td>
                    <td><a (click)="onAddEditInvestment(data)">Edit</a></td>
                </tr>
            </tbody>
        </nz-table>
    </nz-col>
</nz-col>