<ng-container *ngIf="post">
    <div class="control-section">
        <ckeditor #editor data="{{post.content}}" [editor]="Editor"></ckeditor>
    </div>
    <div class="container-fluid mt-3 pr-5">
        <div class="row float-right">
            <button (click)="onSave()" class="btn btn-primary btn-sm mr-2 mb-2">
                Save
            </button>
            <button (click)="onBack()" class="btn btn-outline-light text-danger btn-sm mb-2">
                Return
            </button>
        </div>
    </div>
</ng-container>