<nz-layout class="layout">
	<nz-header>
		<div class="logo" [routerLink]="['/home']">
			<img src="./assets/img/logo.svg" />
		</div>
		<a nz-button nzType="link" (click)="isCollapsed = !isCollapsed" class="menu-button">
			<i nz-icon nzType="menu" nzTheme="outline"></i>
		</a>
		<ul *ngIf="!isInlineMenu || !isCollapsed" nz-menu [nzMode]="isInlineMenu ? 'inline' : 'horizontal'" class="menu-container">
			<li nz-menu-item nzMatchRouter="/home" [routerLink]="['/home']">
				<i nz-icon nzType="home"></i>
				Trang chủ
			</li>
			<li nz-menu-item nzMatchRouter="/assets" [routerLink]="['/assets']">
				<i nz-icon nzType="mail"></i>
				Tài sản cá nhân
			</li>
			<li nz-menu-item nzMatchRouter="/wiki" [routerLink]="['/wiki']">
				<i nz-icon nzType="appstore"></i>
				Wiki
			</li>
			<li nz-submenu nzTitle="Thiết kế cuộc đời" nzIcon="setting">
				<ul>
					<li nz-menu-group nzTitle="Life">
						<ul>
							<li nz-menu-item [routerLink]="['/life']">
								Bánh xe cuộc đời
							</li>
							<li nz-menu-item [routerLink]="['/dream-board']">
								Dream board
							</li>
						</ul>
					</li>

					<li nz-menu-group nzTitle="Social">
						<ul>
							<li nz-menu-item [routerLink]="['/targets']">
								Mục tiêu
							</li>
							<li nz-menu-item [routerLink]="['/network']">
								Mạng lưới kết nối
							</li>
						</ul>
					</li>
				</ul>
			</li>

			<li nz-menu-item class="logout" (click)="logout()">
				<i nz-icon nzType="logout"></i>
				Logout
			</li>
		</ul>
	</nz-header>
	<nz-content>
		<div class="inner-content">
			<router-outlet></router-outlet>
		</div>
	</nz-content>
	<nz-footer>Copyright <a target="_blank" href="https://facebook.com/thuydx.9598">James</a> ©2021. All right reserve.
	</nz-footer>
</nz-layout>